<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class ="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class ="container text-center ">
                      
                    </div>
                    <h1 class="text-center"><strong>Set New Password</strong></h1>
                    <!-- {{user|json}} -->
                    <form (ngSubmit)="formSubmit()">
                        
                        <!-- email field -->
                        <mat-form-field class ="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <!-- email validator -->
                            <input 
                            readonly="readonly"
                            type = "email" 
                            [(ngModel)]="this.emailUser"
                            name="email"  
                            ngModel [email]="true"
                            matInput placeholder="Enter Email"> 
                             
                        </mat-form-field>     
                        <!-- password field -->
                        <mat-form-field class ="full-width" appearance="outline">
                            <mat-label>Enter New Password</mat-label>
                            
                            <input 
                                matInput 
                                [type]="showPassword ? 'text' : 'password'" 
                                name="password" 
                                [(ngModel)]="password"
                                matInput placeholder="Enter new Password">
                            <mat-hint>Hint : password must be of length greater than 7</mat-hint>
                            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{showPassword?'visibility_off':'visibility'}}
                            </mat-icon>
                          </mat-form-field>
    
                        
                        <!-- password field -->
                        <mat-form-field class ="full-width" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                           
                            <input matInput [type]="showPassword2 ? 'text' : 'password'" name="confirmPassword" 
                                [(ngModel)]="cnfpassword"
                                matInput placeholder="Confirm Password">
                            <mat-icon matSuffix (click)="togglePasswordVisibility1()">
                                {{showPassword2?'visibility_off':'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                       
                          <div class="container text-center">
                            <button  type="submit" mat-raised-button color="accent">
                                <a  
                                  [routerLink]="''"
                                    >
                                </a>
                                Update
                            </button>
                              
                          </div>
                    </form>
                </mat-card>
                
            </div>
        </div>
    </div>

</div>